#canvas{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    /* background-color: black; */
}
#t1{
    width: 500px;
    height: 200px;
    border: 1px solid rebeccapurple;
}
#t2{
    width: 500px;
    height: 200px;
    border: 1px solid red;
}
#main{
    display: flex;
}